

 <!DOCTYPE html>
<html>
<head>
  <title>Bootstrap5 实例</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    {% include 'home_page/home2.html' %}
</head>
<body>

<div class="container mt-5">
    {% for article in articles %}




        <div class="card">
        <h5 class="card-header" style="text-align: center">{{ article.title }}</h5>
        <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.body|slice:'100' }}...</p>
        <a href="{% url 'article:article_detail' article.id %}" class="btn btn-primary">阅读本文</a>
        </div>
        </div>
      {% endfor %}

</div>

</body>
</html>

